/********************
      GENERAL
********************/
body {
  background-color: #2B2B2B;
  font-family: 'Trocchi', serif;
  color: #fff;
}
header {
  width: 100%;
  position: fixed;
  top: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
}
main {
  margin: 70px auto
}
img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
}
h2 {
  font-family: 'Trocchi', serif;
  font-size: 40px;
}
a {
  color: #000;
}
p {
  font-size: 20px;
}
strong {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: #FFCC00
}
li {
  border-bottom: 2px solid #000;
}
li > a:hover {
  color: #000;
}

button {
  border: none;
}
/*************************
       SECTION ID
*************************/
#dyingTrend {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}
#digitalEra {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}
/******************************************
  CLASSES: NAVIGATION & CONTAINER OVERRIDE
******************************************/
.navbar {
  background-color: #FFCC00;
  border: 0px;
}
.container {
  text-align: center;
}
/*************************
   CLASSES: VARIOUS TEXT
**************************/
.whiteTextDiv {
  color: #FFF;
}
.yellowTextDiv {
  color: #FFCC00;
}
/**************************************
         CLASSES: TEXT-HIGHLIGHTS
***************************************/
.highLight {
  background-color: #FFCC00;
  display: inline;
  color: #000;
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
}
.highLight-inverted {
  background-color: #000;
  display: block;
  color: #FFF;
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
}
.highLight-white {
  background-color: #FFF;
  display: block;
  color: #000;
  font-family: 'Abril Fatface', cursive;
}
/**************************************
         CLASSES: BACKGROUNDS
***************************************/
.black-bg {
  width: 100%;
  background-color: #000;
  padding: 0px 20px;
}
.grey-bg {
  margin-bottom: 40px;
  padding: 10px;
  background-color: #5E5E5E;
  border: 1px solid #525252;
}
.textArea {
  background-color: #F2C200;
  padding: 10px;
  border: 3px dotted #9E7F00;
  color: #000;
}
.spotifyDiv {
  margin-top: 40px;
}
.initiallyHidden {
  display: none;
}
/*********************************
          MEDIA QUERIES !!! removed because the validator cried about it !!!
*********************************/
  /*@media (min-width: 1200px){.container{width: 1170px;}}
  @media (min-width: 992px){.container{width: 970px;}}
  @media (max-width: 768px){.container{width: 450px;}}*/
